body {
  margin: 0;
}

p {
  font-size: 20px;
  line-height: 32px;
}

h2 {
  color: #fff;
}

header {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
}

.top-nav {
  display: none;
}

.brand {
  height: 80px;
  width: 100px;
  top: 2px;
}

input[type=text],
select {
  padding: 1px;
  display: inline-block;
  color: #ffcf00;
  border: none;
  border-radius: 4px;
  background-color: #352078;
}

input[type=text],
select:focus {
  border: none;
}

.brand img {
  height: 80px;
  width: 130px;
}

.hamburger-icon div {
  height: 1px;
  background-color: #352078;
  margin-top: 6px;
  padding: 2px;
  transition: 0.4s;
}

.open .icons-bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
  width: 20px;
  margin: 6px 6px 6px 6px;
}

.open .icons-bar2 {
  opacity: 0;
}

.open .icons-bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
  width: 20px;
  margin: 6px 6px 6px 6px;
}

.mobile-menu {
  margin-top: 27px;
  display: none;
  position: absolute;
  color: #fff;
  background-color: #352078;
  top: 30px;
  left: 0;
  height: 100vh;
  width: 100%;
  padding-top: 16px;
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  width: 85%;
  padding: 0 64px 0 24px;
}

.mobile-menu li {
  width: 100%;
  margin-bottom: 10px;
  text-decoration: none;
  list-style-type: none;
}

.mobile-menu li a {
  color: #dbd8d7;
  text-decoration-line: none;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 44px;
}

.mobile-menu li a:hover {
  color: #ffcf00;
}

.hero {
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../images/burner.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 224px;
  top: 0;
}

.hero h1 {
  color: #352078;
  font-size: 34px;
  background: -webkit-linear-gradient(#ffcf00, #352078);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  line-height: 40px;
}

.text-container {
  height: auto;
  border: 5px solid #fff;
  padding: 12px;
}

.availabity {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding-left: 12px;
  padding-right: 12px;
  height: 100px;
}

.available-day {
  padding: 0;
  margin: 0;
  margin-top: 0;
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: space-around;
}

.available-day h5,
p,
h6 {
  margin: 12px;
  padding: 0;
}

.available-day h5 {
  line-height: 0;
  font-size: 24px;
  color: #352078;
}

.available-day h6 {
  display: flex;
  color: #ffcf00;
  background-color: #352078;
  border-radius: 20px;
  padding: 8px;
  font-size: medium;
  align-items: center;
}

.contact-info p,
u {
  font-size: medium;
  line-height: 7px;
}

.contact-info {
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-course-categories {
  background-color: #352078;
  padding-bottom: 100px;
  margin-bottom: 24px;
}

.flex-h2 {
  height: 200px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-h2 h2 {
  padding-top: 80px;
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 34px;
}

.flex-h2 hr {
  padding-top: 4px;
  margin-top: 10px;
  border: 1px solid #ffcf00;
  width: 30px;
  background-color: #ffcf00;
}

.course-category-card {
  padding: 12px;
  color: #fff;
  background-color: #4a368f;
  border: 1px solid #4a368f;
}

.course-category-card div {
  padding: 0 12px 0 12px;
}

.course-category-card .icon svg {
  font-size: 52px;
}

.course-category-card .title {
  font-size: 26px;
  color: #ffcf00;
}

.course-category-card p {
  font-size: 16px;
}

.btn-view-more {
  background-color: #ffcf00;
  width: 100%;
  padding: 12px;
  color: #4a368f;
  font-size: 16px;
  margin-bottom: 80px;
  border: 0;
  text-decoration-line: none;
}

.btn-view-more:hover {
  background-color: #4a368f;
  color: #ffcf00;
  border: 1px solid #ffcf00;
}

.btn-view-more:focus {
  background-color: #ffcf00;
  color: #4a368f;
}

.about-us-card h2 {
  color: #4a368f;
}

.about-us .flex-h2 h2,
.courses .flex-h2 h2 {
  color: #4a368f;
  font-weight: bold;
  font-size: 34px;
}

.card-body img,
.about-us-card img {
  width: 100%;
  height: 230px;
}

.card-container {
  display: grid;
}

.course-card {
  border: 1px solid  #b1a6d6;
  margin-bottom: 12px;
  padding: 12px;
  background-color: #fff;
}

.card-body img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-body h3 {
  margin-top: 30px;
  font-weight: bold;
  font-size: 24px;
}

.course-card .btn-view-more,
.about-us .btn-view-more {
  border: none;
  width: 100px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.course-card .btn-view-more {
  margin-bottom: 12px;
}

.card-body p {
  line-height: 2rem;
  max-height: 8rem;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
}

footer {
  margin: 0;
  background-color: #352078;
  color: #fff;
}

.footer-copy-right-plce {
  padding-left: 12px;
}

.footer-copy-right-plce p {
  padding-top: 0;
  font-size: 16px;
}

.about-text {
  background-color: #fff;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0 16px 0 16px;
  }

  header {
    height: 60px;
    background-color: transparent;
  }

  .hero {
    padding-top: 124px;
  }

  .solidheader {
    background-color: #fff;
  }

  .brand a img {
    display: none;
  }

  .desktop-menu {
    display: none;
  }

  .hamburger-icon {
    background-color: #fff;
    height: 35px;
    width: 35px;
    margin-top: 20px;
    padding: 3px;
    border-radius: 4px;
  }

  .course-category-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  .about-us-card {
    display: flex;
    flex-direction: column;
  }

  .about-us-card p,
  .card-body p {
    max-height: 8rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 6;
  }

  .footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 600px) {
  .card-body img,
  .about-us-card img {
    width: 100%;
    height: 350px;
  }

  .text-container p {
    font-size: 24px;
    line-height: 34px;
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 60px;
    background-color: transparent;
  }

  .container {
    padding: 0 24px 0 24px;
  }

  .hero {
    padding-top: 143px;
  }

  .solidheader {
    background-color: #fff;
  }

  .brand a img {
    display: none;
  }

  .desktop-menu {
    display: none;
  }

  .hamburger-icon {
    background-color: #fff;
    height: 35px;
    width: 35px;
    margin-top: 20px;
    padding: 3px;
    border-radius: 4px;
  }

  .course-category-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  .about-us-card {
    display: flex;
    flex-direction: column;
  }

  .card-body p {
    line-height: 2rem;
    max-height: 8rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
  }

  .footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}



@media screen and (min-width: 769px) {
  .container {
    padding: 0 24px 0 24px;
  }

  header .big-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .top-nav {
    width: 80%;
    display: flex;
    background-color: #352078;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
  }

  nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    -ms-flex-align: start;
    align-items: center;
  }

  nav ul li {
    margin-right: 32px;
    list-style: none;
  }

  .top-nav ul {
    color: #ffcf00;
    display: flex;
    padding: 12px;
  }

  .top-nav ul li {
    list-style-type: none;
    margin-right: 12px;
  }

  .hero {
    height: 80vh;
    padding-top: 100px;
  }

  .hamburger-icon {
    display: none;
  }

  nav ul li a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
  }

  nav ul .active a {
    color: #ffcf00;
  }

  .footer-menu ul li a {
    color: #fff;
    text-decoration-line: none;
  }

  nav ul li a:hover {
    text-decoration: none;
    color: #ffcf00;
  }

  nav ul li a:focus {
    color: #ffcf00;
  }

  nav ul li button {
    padding: 5px;
    border: 0;
    border: 3px solid #ffcf00;
    width: 90px;
    border-radius: 5px;
  }

  nav ul li button:hover {
    color: #ffcf00;
    background-color: #352078;
    border: 3px solid #ffcf00;
    border-radius: 5px;
  }

  nav ul li button:focus {
    background-color: #ffcf00;
    color: #352078;
    border: 3px solid #352078;
    border-radius: 5px;
  }

  .course-categories {
    display: flex;
    flex-direction: row;
  }

  .course-category-card {
    margin-right: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-course-categories .btn {
    margin-top: 24px;
    width: 24%;
    border: 0;
  }

  .card-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
  }

  .card-body img {
    width: 100%;
    height: 200px;
  }

  .course-card .btn-view-more,
  .about-us .btn-view-more {
    width: 100px;
    border: 0;
  }

  .about-us {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .about-us-card {
    display: flex;
    flex-direction: row;
    align-items: start;
    align-content: center;
    padding-bottom: 12px;
  }

  .about-us-card img {
    width: 60%;
    height: 400px;
  }

  .about-us-card p {
    line-height: 2rem;
    max-height: 20rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 100;
  }

  .p-container .btn-view-more {
    margin-left: 12px;
  }


  footer {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding: 0;
    height: 30vh;
  }

  .footer-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .footer-menu ul li {
    margin-top: 2px;
    list-style: none;
  }

  .footer-copy-right-plce h5 {
    padding: 0;
    margin-bottom: 0;
  }

  .footer-copy-right-plce p {
    width: 100%;
    padding: 0;
    margin-top: 0;
    margin-left: 0;
  }

  .footer-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 10vh;
    width: 50vw;
  }

  .footer-brand img {
    height: 10vh;
    width: 7vw;
  }
}

@media screen and (min-width: 771px) and (min-height: 1030px) {
  .container {
    padding: 0 24px 0 24px;
  }
}

@media screen and (min-width: 820px) and (min-height: 1180px) {
  .container {
    padding: 0 24px 0 24px;
  }

  .hero {
    margin-top: 144px;
  }

  .hero h1 {
    font-size: 54px;
    line-height: 60px;
    margin-bottom: 100px;
  }

  .top-nav {
    width: 100%;
  }

  .top-nav ul {
    margin-right: 40px;
  }

  .solidheader {
    background-color: #fff;
  }

  .course-category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  .about-us-card {
    display: flex;
    flex-direction: column;
  }

  .about-us-card img {
    width: 100%;
    height: 550px;
  }

  .footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 824px) and (min-height: 1030px) {
  .container {
    padding: 0 24px 0 24px;
  }

  .hero {
    margin-top: 144px;
  }

  .hero h1 {
    font-size: 54px;
    line-height: 60px;
    margin-bottom: 100px;
  }

  .top-nav {
    width: 100%;
  }

  .top-nav ul {
    margin-right: 40px;
  }

  .solidheader {
    background-color: #fff;
  }
}

@media screen and (min-width: 1621px) {
  .hero h1 {
    font-size: 64px;
    padding-left: 24px;
    line-height: 70px;
  }

  .about-us-card img {
    width: 100vw;
    height: 550px;
  }

  .p-container {
    width: 80%;
    margin-left: 12px;
  }

  .p-container .btn-view-more {
    margin-left: 12.1px;
  }

  .course-category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 912px) and (max-height: 1368px) {

  .hero {
    padding-top: 200px;
    height: 100vh;
  }

  .hero h1 {
    font-size: 63px;
    line-height: 10vh;
  }

}

@media screen and (min-width: 992px) {

  .container {
    padding: 0 200px 0 200px;
  }
  
}


@media screen and (min-width: 996px) {

  .container {
    padding: 0 100px 0 100px;
  }
  
}