body {
  margin: 0;
}

p {
  font-size: 20px;
  line-height: 25px;
}

h2 {
  color: #fff;
}

header {
  height: 80px;
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
}

.brand {
  height: 80px;
  width: 100px;
  top: 2px;
}

.brand img {
  height: 80px;
  width: 130px;
}

.hamburger-icon div {
  height: 1px;
  background-color: #352078;
  margin-top: 6px;
  padding: 2px;
  transition: 0.4s;
}

.open .icons-bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
  width: 20px;
  margin: 6px 6px 6px 6px;
}

.open .icons-bar2 {
  opacity: 0;
}

.open .icons-bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
  width: 20px;
  margin: 6px 6px 6px 6px;
}

.mobile-menu {
  margin-top: 27px;
  display: none;
  position: absolute;
  color: #fff;
  background-color: #352078;
  top: 30px;
  left: 0;
  height: 100vh;
  width: 100%;
  padding-top: 16px;
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  width: 85%;
  padding: 0 64px 0 24px;
}

.mobile-menu li {
  width: 100%;
  margin-bottom: 10px;
  text-decoration: none;
  list-style-type: none;
}

.mobile-menu li a {
  color: #dbd8d7;
  text-decoration-line: none;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 44px;
}

.mobile-menu li a:hover {
  color: #ffcf00;
}

.hero {
  height: auto;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../images/burner.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 224px;
  top: 0;
}

.hero h1 {
  color: #352078;
  font-size: 34px;
  background: -webkit-linear-gradient(#ffcf00, #352078);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  line-height: 40px;
}

.text-container {
  height: auto;
  border: 5px solid #fff;
  padding: 12px;
}

.availabity {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding-left: 12px;
  padding-right: 12px;
  height: 100px;
}

.available-day {
  padding: 0;
  margin: 0;
  margin-top: 0;
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: space-around;
}

.available-day h5,
p, h6 {
  margin: 12px;
  padding: 0;
}

.available-day h5 {
  line-height: 0;
  font-size: 24px;
  color: #352078;
}

.available-day h6 {
  display: flex;
  color: #ffcf00;
  background-color: #352078;
  border-radius: 20px;
  padding: 8px;
  font-size: medium;
  align-items: center;
}

.contact-info p,
u {
  font-size: medium;
  line-height: 7px;
}

.contact-info {
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-course-categories {
  background-color: #352078;
  padding-bottom: 100px;
  margin-bottom: 24px;
}

.flex-h2 {
  height: 200px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-h2 h2 {
  padding-top: 80px;
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 34px;
}

.flex-h2 hr {
  padding-top: 4px;
  margin-top: 10px;
  border: 1px solid #ffcf00;
  width: 30px;
  background-color: #ffcf00;
}

.course-category-card {
  padding: 12px;
  color: #fff;
  background-color: #4a368f;
  border: 1px solid #4a368f;
}

.course-category-card div {
  padding: 0 12px 0 12px;
}

.course-category-card .icon svg {
  font-size: 52px;
}

.course-category-card .title {
  font-size: 26px;
  color: #ffcf00;
}

.course-category-card p {
  font-size: 16px;
}

.btn-view-more {
  background-color: #ffcf00;
  width: 100%;
  padding: 12px;
  color: #4a368f;
  font-size: 16px;
  margin-bottom: 80px;
  border: 0;
  text-decoration-line: none;
}

.btn-view-more:hover {
  background-color: #4a368f;
  color: #ffcf00;
  border: 1px solid #ffcf00;
}

.btn-view-more:focus {
  background-color: #ffcf00;
  color: #4a368f;
}

.about-us .flex-h2 h2,
.courses .flex-h2 h2 {
  color: #4a368f;
  font-weight: bold;
  font-size: 34px;
}

.card-body img,
.about-us-card img {
  width: 100%;
  height: 230px;
}

.course-card {
  display: grid;
  border: 1px solid  #b1a6d6;
  margin-bottom: 12px;
  padding: 12px;
  background-color: #fff;
}

.card-body img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-body h3 {
  margin-top: 30px;
  font-weight: bold;
  font-size: 24px;
}

.course-card .btn-view-more,
.about-us .btn-view-more {
  width: 160px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.course-card .btn-view-more {
  margin-bottom: 12px;
}

footer {
  background-color: #352078;
  color: #fff;
}

.footer-copy-right-plce {
  padding-left: 12px;
}

.footer-copy-right-plce p {
  padding-top: 0;
  font-size: 16px;
}

.about-text {
  background-color: #fff;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0 16px 0 16px;
  }

  header {
    height: 60px;
    background-color: transparent;
  }

  .hero {
    padding-top: 124px;
  }

  .solidheader {
    background-color: #fff;
  }

  .brand a img {
    display: none;
  }

  .desktop-menu {
    display: none;
  }

  .hamburger-icon {
    background-color: #fff;
    height: 35px;
    width: 35px;
    margin-top: 20px;
    padding: 3px;
    border-radius: 4px;
  }

  .course-category-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  .about-us-card {
    display: flex;
    flex-direction: column;
  }

  .card-body p {
    line-height: 2rem;
    max-height: 8rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
  }

  .footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 600px) {
  .container {
    padding: 0 54px 0 54px;
  }

  .card-body img,
  .about-us-card img {
    width: 100%;
    height: 350px;
  }

  .text-container p {
    font-size: 24px;
    line-height: 34px;
  }

}

@media screen and (max-width: 768px) { 
  header {
    height: 60px;
    background-color: transparent;
  }

  .solidheader {
    background-color: #fff;
  }

  .brand a img {
    display: none;
  }

  .desktop-menu {
    display: none;
  }

  .hamburger-icon {
    background-color: #fff;
    height: 35px;
    width: 35px;
    margin-top: 20px;
    padding: 3px;
    border-radius: 4px;
  }

  .course-category-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  .about-us-card {
    display: flex;
    flex-direction: column;
  }

  .card-body p {
    line-height: 2rem;
    max-height: 8rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
  }

  .footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

} 

@media screen and (max-width: 820px) and (max-height: 1180px) {
  header {
    height: 60px;
    background-color: transparent;
  }

  .solidheader {
    background-color: #fff;
  }

  .brand a img {
    display: none;
  }

  .desktop-menu {
    display: none;
  }

  .hamburger-icon {
    display: block;
    background-color: #fff;
    height: 35px;
    width: 35px;
    margin-top: 20px;
    padding: 3px;
    border-radius: 4px;
  }

  .course-category-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  .about-us-card {
    display: flex;
    flex-direction: column;
  }

  .card-body p {
    line-height: 2rem;
    max-height: 8rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
  }

  .footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 769px) {
  .container {
    padding: 0 200px 0 200px;
  }

  .hero {
    height: 80vh;
    padding-top: 100px;

  }

  .hamburger-icon {
    display: none;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    width: 50%;
  }
  
  nav ul {
    display: flex;
    flex-direction: row;
    -ms-flex-align: start;
    align-items: center;
  }

  nav ul  li {
    margin-right: 32px;
    list-style: none;
  }

  nav ul  li  a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
  }

  nav ul  li  a:hover {
    text-decoration: none;
    font-size: 20px;
    color: #ffcf00;
  }

  nav ul  li a:focus {
    color: #ffcf00;
  }

  nav ul .active a {
    color: #ffcf00;
  }

  nav ul li button {
   background-color: #ffcf00;
   padding: 9px;
   border: 0;
   width:  140px;
   border-radius: 20px;
  }

  nav ul li button:hover {
    color: #ffcf00;
    background-color: #352078;
    border: 1px solid #ffcf00;
    border-radius: 20px;
   }

   nav ul li button:focus {
    background-color: #ffcf00;
    color: #352078;
    border: 2px solid #352078;
    border-radius: 20px;
   }
  
}